{{#section "head"}}
    <title>Meu Portfólio | Sobre Mim</title>
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/sobreMin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{{/section}}

<section class="sobre">
    
    <div class="sobre_img">
        <img src="/img/minhafoto.jpg" alt="Luiz Fernando">
    </div>

    <div class="sobre_info">

        <h1>Sobre Mim</h1>

        <p>
            Olá! Meu nome é <strong>Luiz Fernando Nicassio de Oliveira</strong>,
            tenho 20 anos e sou estudante de Análise e Desenvolvimento de Sistemas.
            Tenho forte interesse em desenvolvimento Back-End, modelagem de bancos de dados e
            Programação Orientada a Objetos.
        </p>

        <p>
            Atualmente desenvolvo projetos utilizando Java, JavaScript,
            Node.js e MySQL, buscando constantemente aprimorar minhas habilidades em
            arquitetura de software, padrões de projeto e desenvolvimento de APIs RESTful.
        </p>

        <div class="info_cards">

            <div class="card">
                <h3>Formação</h3>
                <ul>
                    <li>
                       <strong>Análise e Desenvolvimento de Sistemas</strong> 
                        Faculdade Serra Dourada de Lorena <br>
                        <i>Ago de 2025 – Cursando</i>
                    </li>
                    <li>
                        <strong>Técnico em Desenvolvimento de Sistemas</strong>
                         Etec Prof. Marcos Uchôas dos Santos Penchel <br>
                        <i>Jan de 2021 – Dez 2023 </i>
                    </li>
                </ul>
            </div>

            <div class="card">
                <h3>Tecnologias</h3>
                <ul>
                    <li>Java</li>
                    <li>JavaScript / Node.js</li>
                    <li>MySQL / Sequelize</li>
                    <li>HTML5 / CSS3</li>
                    <li>Git e GitHub</li>
                </ul>
            </div>

        </div>

    </div>

</section>

<section class="certificacao">
    <h2 class="certificacao_titulo">Licenças e Certificados</h2>
    
    <ul class="certificacao_container">
        
        <li class="certificacao_item">
            <div>
                <h3>CSS: Construindo Layouts com Grid</h3>
                <p class="instituicao">Alura</p>
            </div>
            <span class="data">Emitida em ago de 2024</span>
        </li>

        <li class="certificacao_item">
            <div>
                <h3>CSS: Flexbox e Layouts Responsivos</h3>
                <p class="instituicao">Alura</p>
            </div>
            <span class="data">Emitida em jul de 2024</span>
        </li>

        <li class="certificacao_item">
            <div>
                <h3>Formação A Partir do Zero: HTML e CSS para Projetos Web</h3>
                <p class="instituicao">Alura</p>
            </div>
            <span class="data">Emitida em jun de 2024</span>
        </li>

    </ul>
</section>