<header>
    <nav id="menu">
        <h2 id="nome" title="Luiz fernando nicassio de oliveira">Luiz Fernando</h2> 

        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home/Sobre">Sobre mim</a></li>
            <li><a href="/home/Projetos">Projetos</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </nav>
</header>