<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    {{{_sections.head}}}

</head>
<body>
      {{>navBar}}   
    <main>
        {{{body}}}
    </main>
</body>
</html>